<div class="container-fullwidth">
    <div class="row">
        <div class="col-md-12">
            <div class="google-map" id="map"></div>
        </div>
    </div>
</div>
</section><section class="section swatch-tilda-green-white has-top">
<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
    <header class="section-header underline">
        <h1 class="headline hyper hairline">Kontakt</h1>
        <p class="big"><i class="fa fa-phone"></i> 062/407-704 064/278-50-46 060/3-215-415</p>
        <p class="big"><a href="mailto:info@tilda.rs"><i class="fa fa-envelope"></i> info@tilda.rs</a></p>
        <p class="big">Svetozara Markovića 8, 18000 Niš, Srbija</p>
    </header>
</div>
