<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
    <header class="section-header underline">
        <h1 class="headline super hairline">Startuj besplatno</h1>
    </header>
    <div class="row">
        <div class="col-md-8">
            <img src="https://farm1.staticflickr.com/659/21947366619_ef063ed8a3_k_d.jpg">
        </div>
        <div class="col-md-4">
            <p>Svi novi članovi imaju priliku da besplatno isprobaju naš prostor. Prva nedelja se ne naplaćuje i to je period koji možete iskoristiti da proverite da li vam Tilda odgovara.</p>
            <p><a href="/contact">Kontaktirajte nas</a> još danas i besplatno rezervišite svoje mesto u modernoj kancelariji u centru grada.</p>
            <br>
            <p><a class="btn btn-lg btn-primary" href="/contact">Kontaktirajte nas</a></p>
        </div>
    </div>
</div>
