<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
    <header class="section-header text-center underline">
        <h1 class="headline super hairline">Slike prostora</h1>
    </header>
    <div class="portfolio isotope portfolio-rect portfolio-shadows row" style="position: relative; overflow: hidden; height: 594px;">
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space1.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space1.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space2.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space2.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space3.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space3.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space4.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space4.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space5.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space5.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="/assets/images/space/space6.jpg"><img alt="some image" class="img-responsive" height="518" src="/assets/images/space/space6.jpg" width="600"></a>
        </div>
    </div>
</div>
