<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
    <header class="section-header text-center underline">
        <h1 class="headline super hairline">Slike prostora</h1>
    </header>
    <div class="portfolio isotope portfolio-rect portfolio-shadows row" style="position: relative; overflow: hidden; height: 594px;">
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://scontent-vie.xx.fbcdn.net/hphotos-xtp1/t31.0-8/10688237_399039303608424_5358740541637765673_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://scontent-vie.xx.fbcdn.net/hphotos-xtp1/t31.0-8/10688237_399039303608424_5358740541637765673_o.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/11072526_399039296941758_8814237175143899751_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/11072526_399039296941758_8814237175143899751_o.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1553339_399039300275091_1437764660721124179_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1553339_399039300275091_1437764660721124179_o.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://scontent-vie.xx.fbcdn.net/hphotos-xpf1/t31.0-8/11025888_399039293608425_7923935010730951565_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://scontent-vie.xx.fbcdn.net/hphotos-xpf1/t31.0-8/11025888_399039293608425_7923935010730951565_o.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://scontent-vie.xx.fbcdn.net/hphotos-xap1/t31.0-8/10944999_399039336941754_9177426500173108728_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://scontent-vie.xx.fbcdn.net/hphotos-xap1/t31.0-8/10944999_399039336941754_9177426500173108728_o.jpg" width="600"></a>
        </div>
        <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image isotope-item" style="display: block; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <a href="https://scontent-vie.xx.fbcdn.net/hphotos-xpf1/t31.0-8/1618337_399039343608420_8637347059267514856_o.jpg"><img alt="some image" class="img-responsive" height="518" src="https://scontent-vie.xx.fbcdn.net/hphotos-xpf1/t31.0-8/1618337_399039343608420_8637347059267514856_o.jpg" width="600"></a>
        </div>
    </div>
</div>
