<div class="background-media skrollable skrollable-between" style="background-image: url(https://scontent-vie1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11828703_452503461595341_494463306362465878_n.jpg?oh=b689bd2b9e972a9815bfbf1c9e2e61fd&oe=564B298F); background-size: cover; background-position: 50% -58.6956521739131px;" data-start="background-position: 50% 0px" data-top-bottom="background-position: 50% -200px"></div>
<div class="container">
    <header class="section-header underline">
        <h1 class="headline hyper hairline">Tilda</h1>
        <p class="big">Prvi coworking prostor u Nišu</p>
    </header>
</div>
